@{
    ViewData["Title"] = "Home Page";
}

<div class="appTitle">
    <h1>OpiniON</h1>
</div>

<p1 class="slogan">Ponieważ każda opinia ma zanczenie!</p1>
<div class="finder">
    <a class="input-group-text" type="text"></a>
    <a class="btn-outline-primary" asp-controller="Product" asp-action="GetProducts">Szukaj</a>
</div>
